#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

button{
  border: none;
}

tr{
  display: flex;
  align-items: center;
}

.tdButton{
  display: flex;
  gap: 1em  ;
  justify-content: center;
}

.tdButton > button{

  background-color: transparent;
}

th, td{
  /* border: 1px solid black; */
  width: 100px;
  max-width: 100px;
}

tr:nth-child(even){
background-color: rgba(0, 0, 0, 0.05);
}

.fi{
  display: flex;
  justify-content: center;
  color: gray;
  cursor: pointer;
}
.fi-rs-trash{
  color: red;
}


.fi-rs-pencil:hover{
  transition: 0.3s;
color: blue;
}

.setVisibleModal{
  display: flex;
  /* flex-direction: column; */
  gap: 5em;
}